

/* Container for all products */
.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  justify-content: space-between; /* Creates space between product items */
  width: 100%;
}

/* Individual product items */
.item,
.itemWhenCartIsOpen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  flex: 1 1 100%; /* Flex item takes full width by default */
  padding: 1.5rem 0.7rem;
}

.product {
  width: 100%; /* Make product card take full width inside .item */
}

.imageContainer {
  position: relative;
  margin: 0;
  width: 100%;
}

.imageContainer img {
  display: block;
  width: 200px;
  height: 250px;
  object-fit: contain;
    padding: 5px;
}

.price {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: black;
  color: white;
  padding: 5px 15px;
  font-size: 1.5rem;
}
.rating {
  position: absolute;
  top: 80%;
  right: 0;
  padding: 5px 15px;
}
.rating i {
  color: rgb(229, 229, 42);
}

.productContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.content {
  text-align: left;
  font-weight: 900;
}

.content h3 {
  margin: 0;
}

button i {
  font-size: medium;
}

/* Loader positioning */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------- Media Queries --------- */

/* For screens wider than 500px */
@media (min-width: 500px) {
  .itemWhenCartIsOpen {
    flex: 1 1 100%; /* Full width when the cart is open */
  }
}

/* For screens wider than 715px */
@media (min-width: 715px) {
  .item {
    flex: 1 1 50%; /* 2 items per row */
  }
  .content {
    font-size: 0.82rem; /* Adjusts title font size on medium screens */
  }
}

/* For screens wider than 1064px */
@media (min-width: 1064px) {
  .item {
    flex: 1 1 33.333%; /* 3 items per row */
  }
  .itemWhenCartIsOpen {
    flex: 1 1 50%; /* 2 items per row when cart is open */
  }
}
/* For screens wider than 1299px */
@media (min-width: 1299px) {
  .item {
    flex: 1 1 25%; /* 4 items per row on larger screens */
  }
  .itemWhenCartIsOpen {
    flex: 1 1 33.333%; /* 3 items per row when cart is open */
  }
}
