.home {
  align-items: flex-start;
  flex-direction: column-reverse;
}
.cartWidth {
  width: 100%;
}
.ProductsWidth {
  width: 100%;
  border: 1px solid transparent;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
}

.emptyCart {
  margin-top: 50px;
  font-size: xx-large;
  font-weight: 900;
  color: red;
}

@media (min-width: 758px) {
  .cartWidth {
    width: 52%;
  }
  .ProductsWidth {
    width: 48%;
    border: 1px solid black;
    border-width: 0 1px 0 0;
  }
  .home {
    flex-direction: row;
  }
}
@media (min-width: 1064px) {
  .cartWidth {
    width: 40%;
  }
  .ProductsWidth {
    width: 60%;
  }
  .home {
    flex-direction: row;
  }
}
@media (min-width: 1340px) {
  .cartWidth {
    width: 30%;
  }
  .ProductsWidth {
    width: 70%;
  }
  .home {
    flex-direction: row;
  }
}
